$primary-color: hsl(158, 100%, 50%);
$secondary-color: hsl(184, 100%, 36%);
$main-gradient: linear-gradient(90deg, #00acb7 0%, #00ffa3 100%);

$sec-padding: 0 5%;

$regular: 400;
$medium: 500;
$bold: 700;
$extra-bold: 800;

$desc-text: #cecece;
