@import "./Variables.scss";

.cta-btn {
  padding: 1em 0.8em;
  font-family: inherit;
  background: $main-gradient;
  border: 2px solid $primary-color;
  border-radius: 3px;
  a {
    color: #000;
    font-size: 1.1rem;
    font-weight: $bold;
    transition: all 300ms ease-in;
  }
  i {
    margin-left: 0.3em;
  }
}
// .cta-btn::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   border-radius: 3px;
//   z-index: -1;
// }

.cta-btn:hover {
  background: transparent;
  border-color: $secondary-color;
  a {
    color: #fff;
  }
}
