@import "../scss/variables.scss";

/* todo for desktop */
@media screen and (min-width: 768px) {
  section {
    $sec-padding: 0 10%;
  }
  header {
    $sec-padding: 0 10%;
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-link {
        margin-left: 2rem;
      }
    }
  }

  .burger-menu {
    display: none;
  }

  /* ! Intro section */
  .intro-section {
    flex-direction: row;
    align-items: center;
  }

  .intro-section .intro-text {
    order: 1;
  }
  .intro-section .intro-text h1 {
    font-size: 4.5rem;
  }
  .intro-section .intro-text h3 {
    font-size: 2.3rem;
  }
  .intro-section .intro-text p {
    font-size: 1rem;
  }

  .intro-section .intro-img {
    max-width: 40%;
    min-width: 21.87rem;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  header {
    .nav-links {
      display: none;
      .nav-link {
        opacity: 0;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  header {
    .nav-links.active {
      width: 60%;
    }
  }
  .intro-section {
    min-height: 80vh;
    align-items: center;
    justify-content: center;
  }
  .intro-img {
    display: none;
  }
}
