@import "../variables.scss";

header {
  height: 10vh;
  padding: $sec-padding;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #141628;

  .logo {
    width: 3.5rem;
  }
  .nav-links.active {
    display: none;
    position: absolute;
    height: 100vh;
    width: 40%;
    max-width: 400px;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #32386d;
    z-index: 3;
  }
  .nav-link {
    margin: 2em 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 110%;
      left: 0;
      height: 2px;
      width: 100%;
      transform: scale(0);
      border-radius: 50px;
      background-color: $primary-color;
      transition: transform 250ms ease-in;
    }
    &:hover::after {
      content: "";
      transform: scale(1);
    }
    a {
      color: #fff;
      font-size: 1rem;
      font-weight: $medium;
      transition: color 250ms ease-in;
      &:hover {
        color: $primary-color;
      }
    }
  }
}

/* ? Burger Menu */
.burger-menu div {
  width: 25px;
  height: 3px;
  background-color: rgb(266, 266, 266);
  margin: 5px;
  cursor: pointer;
  transition: all 500ms ease;
}

.burger-menu.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.toggle .line2 {
  opacity: 0;
}

.burger-menu.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes nav-link-fade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@media screen and (max-width: 540px) {
  header {
    .nav-links.active {
      width: 60%;
    }
  }
}

@media screen and (max-width: 768px) {
  header {
    .nav-links {
      display: none;
      .nav-link {
        opacity: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    $sec-padding: 0 10%;
    .nav-links {
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-link {
        margin-left: 2rem;
      }
    }
  }

  .burger-menu {
    display: none;
  }
}
