@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap");

@import "./components/scss/Variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
}

section,
footer {
  width: 100%;
  padding: $sec-padding;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

.gradient-text {
  background: $main-gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-heading {
  position: relative;
  margin: 1.5em 0;
  color: $primary-color;
  font-size: 1rem;
  font-weight: $medium;
  letter-spacing: 1px;
  align-self: center;
  &::after {
    content: "";
    position: absolute;
    top: 110%;
    left: -15%;
    height: 2px;
    width: 130%;
    border-radius: 50px;
    background-color: $primary-color;
  }
}

@media screen and (min-width: 768px) {
  section,
  footer {
    $sec-padding: 0 10%;
  }
}

@media screen and (max-width: 540px) {
  .section-heading {
    font-size: 0.875rem;
  }
}
